<h1 class="text-center text-xl my-10">Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="login()"
    class="flex justify-center flex-col lg:w-96 px-10 lg:px-0 mx-auto mt-10">

    <label for="username">Username: </label>
    <input id="username" type="text" formControlName="username">

    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password">

    <div>Form Status:
        <span class="{{loginForm.status === 'VALID' ? 'text-green-500':'text-red-500'}}">
            {{ loginForm.status }}
        </span>
    </div>
    <button class="p-2 rounded-md bg-black text-white my-5" type="submit" [disabled]="!loginForm.valid">Login</button>
    <p>Don't have an account? <a class="text-blue-600" href="{{Paths.Register}}">Register here</a></p>
</form>